<div class="welcome_landlord">
 <div class="welcome_landlord1">
   <h1 class="hi_landlord">Hi, Tenant!</h1>
   <div class="button_landlord">
   <a href="/tenants/login">Log In</a> 
   <a href="/tenants/signup">Sign Up</a></h3>
   </div>
 </div>   
 <a href="/" class="back_button_welcome">&#8249; Back</a>
</div>
