<div class="welcome_landlord1" style="position: unset; color:lightpink;">
<h2>Sign Up</h2>

<form action="/landlords" method="post">
<ol>
  <li><label for="name">Name: </label>
  <input type="text" name="name" value=""></li>
  <br>
  <li><label for="email">Email: </label>
  <input type="text" name="email" value=""></li>
  <br>
  <li><label for="password">Password: </label>
  <input type="password" name="password" value=""></li>
  <br>
  <li><label for="bio">Bio: </label>
  <input type="text" name="bio" value=""></li>
  <br>
  <li><label for="image_url">Image URL: </label>
  <input type="text" name="image_url" value=""></li>
  <br>
  <input  class="add_property" style="border: none; font-size:16px;" type="submit" name="" value="Create Account">
  
</form>
<a class="back_button" style="font-weight: bold; padding: 10px;"href="/landlords/welcome">Cancel</a>
</div>



