<div class="container">
   <div class="welcome_container">
    <h1 class="headline">Welcome to LetSpace!</h1>
     <h3 class="headline">Let's find a perfect home together...</h3>
     <div class="landing_container">
      <a href="/landlords/welcome">I'm a landlord!</a>
      <a href="/tenants/welcome">I'm a tenant!</a>
    </div>
   </div>
   

</div>
